<div class="main container">
    <article class="money">
        <h2>The Value of Money</h2>
        <div class="image-txt-container">
        <figure>
            <img class="myimage" src="img/money-series.jpg" alt="Article 1">
            <figcaption>Details about image</figcaption>
         </figure>
         <p>
            The value of money is determined by the demand for it, just like 
            the value of goods and services. There are three ways to measure 
            the value of the dollar. 
            The first is how much the dollar will buy in foreign currencies. 
            That’s what the exchange rate measures. Forex traders on the foreign 
            exchange market determine exchange rates. They take into account supply 
            and demand, and then factor in their expectations for the future. 
            For this reason, the value of money fluctuates throughout the trading day.
            The second method is the value of Treasury notes. They can be converted 
            easily into dollars through the secondary market for Treasurys.

            The third way is through foreign exchange reserves. That is the amount of 
            dollars held by foreign governments.4 The more they hold, the lower the supply. 
            That makes U.S. money more valuable. If foreign governments were to sell all 
            their dollar and Treasury holdings, the dollar would collapse. U.S. money 
            would be worth a lot less.

            (Source:https://www.thebalance.com/value-of-money-3306108)
        </p>
    </div>
    </article>

    <article class="food">
        <h2>GMO Food</h2>
        <div class="image-txt-container">
        <figure>
            <img class="myimage" src="img/GMO-food.jpg" alt="Article 1">
            <figcaption>Details about image</figcaption>
         </figure>
        
         <p>
            Genetically modified organisms (GMOs) are living organisms whose 
            genetic material has been artificially manipulated in a laboratory 
            through genetic engineering. This creates combinations of plant, animal, 
            bacteria, and virus genes that do not occur in nature or through traditional 
            crossbreeding methods. Most GMOs have been engineered to withstand 
            the direct application of herbicide and/or to produce an insecticide. 
            However, new technologies are now being used to artificially develop other 
            traits in plants, such as a resistance to browning in apples, and to create 
            new organisms using synthetic biology. Despite biotech industry promises, 
            there is no evidence that any of the GMOs currently on the market offer 
            increased yield, drought tolerance, enhanced nutrition, or any other consumer benefit.
            
            In the absence of credible independent long-term feeding studies, the safety of 
            GMOs is unknown. Increasingly, citizens are taking matters into their own hands 
            and choosing to opt out of the GMO experiment.
            (Source: https://www.nongmoproject.org/gmo-facts/)
        </p>
        </div>
    </article>

    <article class="view"> 
        <h2>The View of World in 2100</h2>
        <div class="image-txt-container">
        <figure>
            <img class="myimage" src="img/world-view-2100.jpg" alt="Article 1">
            <figcaption>Details about image</figcaption>
         </figure>
        
        <p>
            We all know that the carbon legacy of our fossil 
                fuel-based lifestyles is bequeathing a climate 
                crisis to billions of people into the future. 
                But when we say “future”, just how far should 
                we be thinking ahead? As far as 2050? 2100? Or a 
                little bit further, maybe as far as 2500 and beyond?

                You may have already noticed that future climate 
                projections used by the international scientific 
                and political communities generally go only as far 
                as the year 2100. The simple reason for this is that 
                it is impossible to predict with any degree of accuracy 
                just how much greenhouse gases are going to be released 
                in the next few centuries, and just how much this is going 
                to affect the climate.
                
                But don’t be fooled. This does not mean that climate change 
                will cease to be a problem in the years lying beyond the upper
                each of our most cited climate forecasts. The shocking truth 
                is that climate change has only just begun. Regardless of 
                future emission trends, the CO2 footprint from our brief 
                passage on Earth is going to remain in the climate system 
                and impact the well-being of all terrestrial life forms for 
                what could almost be considered an eternity.
                (Source: https://ourworld.unu.edu/en/climate-change-what-happens-after-2100)
        </p>
    </div>
    </article>

</div>