<h1>Portfolio</h1>
       
<div class="portfolio container grid">
    <article class="item1">
        <figure>
            <img class="portimage" src="img/value-of-money-01.jpg" alt="Article 1">
            <figcaption>Details about image</figcaption>
         </figure>
    </article>
    <article class="item2">
        <figure>
            <img class="portimage" src="img/Asset 1.png" alt="Article 1">
            <figcaption>Details about image</figcaption>
         </figure>
    </article>
    <article class="item3">
        <figure>
            <img class="portimage" src="img/gmo-food-01.jpg" alt="Article 1">
            <figcaption>Details about image</figcaption>
         </figure>
    </article>
    <article class="item4">
        <figure>
            <img class="portimage" src="img/gmo-food-02.png" alt="Article 1">
            <figcaption>Details about image</figcaption>
         </figure>
    </article>
    <article class="item5">
        <figure>
            <img class="portimage" src="img/world-view-2100-01.jpg" alt="Article 1">
            <figcaption>Details about image</figcaption>
         </figure>
    </article>
    <article class="item6">
        <figure>
            <img class="portimage" src="img/world-view-2100-02.jpg" alt="Article 1">
            <figcaption>Details about image</figcaption>
         </figure>
    </article>
</div>